/* Using framework materialize */
.home-title {
    background-color: #4a148c;
}

#home {
    margin: 0;
}

body {
    background-image: url(../images/background-image1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    
}